body{
    background: #111;
    color: white;
}

.logo{
    color: #ffffff;
}

.hero h1{
    color: #ffffff;
}

.section h2{
    color: #f5f5f5;
}

.btn{
    background: #2a2a2a;
    color: white;
}

.btn:hover{
    background: #444;
}

.dark{
    background: #1b1b1b;
}

.card{
    background: #222;
    border: 1px solid rgba(255,255,255,0.1);
}

.card h3{
    color: #ffffff;
}

card span{
    color: #d1d5db;
}

footer{
    background: #0a0a0a;
}